* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    font-size: 3rem;
    height: 10vmin;
    line-height: 5rem;
}
.choice {
    height: 160px;
    width: 160px;
    padding-left: 10px;
   
    
    
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
    
}
.choices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
   
    padding-top: 15vmin;
    

}
.msg_container{
display: flex;
text-align: center;
justify-content: center;

}
.score{
font-size: 6vmin;
padding-left: 5vmin;
padding: 5vmin;
}
.play_msg{
    font-size: 5vmin;
    background-color: #081B31;
    color: white;
    display: inline;
    border-radius: 50vmin;
    padding: 3vmin;

}
.choice:hover{
    cursor: pointer;
    
    

}
